:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
}

.friends-container {
  border-radius: 15px;
  width: 320px;
  height: 105px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #0f0f0f; 
  padding: 20px; 
}

.left-section-gif {
  flex: 0 0 auto; 
}

.mid-right-section {
  font-size: 15px;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
}

.invite-home-button {
  width: 230px;
  margin-top: 10px;
  border-radius: 15px;
  color: var(--background-color);
  background-color: var(--text-color);
  box-shadow: 0 0 15px var(--text-color), 0 0 25px var(--container-color);
}

@media (max-height: 800px) {
  .mid-right-section{
    font-size: 13px; /* Меняем высоту кнопки на 20px */
  }
  .friends-container{
    margin-top: 20px;
    height: 97px;
    width: 300px;
  }
  .invite-home-button{
    height: 35px;
    font-size: 12px;
    margin-top: 10px;
    width: 190px;
  }
}

@media (min-height: 890px) and (max-height: 940px) {
  .mid-right-section span {
    font-size: 19px; /* Меняем высоту кнопки на 20px */
  }
  .friends-container{
    margin-top: 20px;
    width: 360px;
  }
  .invite-home-button{
    font-size: 16px;
  }
}

@media (max-height: 670px) {
  .mid-right-section{
    font-size: 13px; /* Меняем высоту кнопки на 20px */
  }
  .friends-container{
    margin-top: 10px;
    height: 70px;
    width: 300px;
  }
  .invite-home-button{
    height: 25px;
    font-size: 10px;
    margin-top: 10px;
    width: 180px;
  }
}
