:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Убедитесь, что модальное окно перекрывает все остальное */
}

.modal-content {
    background-color: #0f0f0f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 320px; /* Можно настроить ширину */
    border-radius: 15px;
}

.modal-header {
    display: flex;
    justify-content: space-between; /* Важно для расположения элементов */
    align-items: center;
    margin-bottom: 10px;
}

.modal-title {
    font-size: 16px; /* Настройте размер шрифта */
    margin: 0;
    text-align: left; /* Выравнивание текста заголовка по левому краю */
    flex-grow: 1; /* Заголовок занимает доступное пространство */
}

.close {
    padding: 0;
    cursor: pointer;
    font-size: 16px; /* Настройте размер крестика */
    color: #aaa; /* Настройте цвет крестика */
    border: none;
    background: none;
    outline: none;
    order: 1; /* Перемещает кнопку закрытия в конец flex-контейнера */
}

.close:hover {
    color: black; /* Цвет при наведении */
}

.modal-divider {
    height: 1px;
    background-color: #eee; /* Цвет полосы */
    margin: 10px 0;
}

.block-text-m {
  margin-left: 40px;
  font-size: 14px;
  display: flex;
  flex-direction: column; /* Размещает span вертикально */
  margin-bottom: 10px; /* Отступ между блоками */
  position: relative; /* Для позиционирования псевдоэлемента */
}

.block-text-m::before {
  content: ''; /* Создаем пустой контент для псевдоэлемента */
  width: 10px; /* Ширина круга */
  height: 10px; /* Высота круга */
  background-color: #c4f85c; /* Цвет круга */
  border-radius: 50%; /* Делаем круг */
  position: absolute; /* Позиционируем относительно родителя */
  left: -40px; /* Отступ от левого края */
  top: 25%; /* Центрируем по вертикали */
  transform: translateY(-50%); /* Центрируем по вертикали */
  box-shadow: 0 0 10px var(--green-color), 0 0 10px var(--container-color-two);
}