:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../../Most Used/Image/333.jpg');
  background-size: cover;
  background-position: center;
  z-index: 9999;
  backdrop-filter: blur(5px); /* Добавляем размытие фона */
}

.spinner {
  border: 8px solid var(--container-color);
  border-top: 8px solid var(--green-color);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 23px;
  margin-bottom: 5px;
}

.status-text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 23px;
}

.status-text-good {
  color: var(--green-color);
  font-family: var(--font-family);
  font-size: 23px;
}