:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
  --black-colot-two: #0f0f0f;
}

.boost-container {
  margin-top: 20px;
  width: 320px;
  border-radius: 15px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background-color: #0f0f0f;
  padding: 20px; 
}

.mid-left-section {
  color: var(--text-color);
  font-size: 15px;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

.boost-go-button {
  margin-top: 10px;
  border-radius: 15px;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--container-color);
}