:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
  --black-colot-two: #0f0f0f;
}

.Tasks_list {
  margin-top: 20px;
  font-family: var(--font-family);
}

.Task {
  border: 1px solid #1a1a1a;
  border-radius: 15px;
  background-color: var(--black-colot-two); /* Задайте нужный цвет фона */
  padding: 20px; /* Добавьте отступы для внутреннего содержимого */
  display: flex;
  flex-direction: column;
  width: 150px; /* Установите высоту по вашему усмотрению */
  height: 130px;
  position: relative; /* Для позиционирования дочерних элементов */
}

.top-section-special {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Расположите элементы у верхнего края */
  margin-bottom: auto; /* Отодвиньте нижние элементы вниз */
}

.img-and-reward {
  display: flex;
  justify-content: space-between; /* Расположите элементы по краям */
  align-items: center; /* Центрируйте по вертикали */
}

.task-mission-special {
  margin-top: 10px; /* Добавьте отступ между img-and-reward и task-mission-special */
}

.bottom-section-special {
  display: flex;
  justify-content: center; /* Центрируйте кнопку */
  top: 20px; /* Отступ от нижнего края */
  left: 0;
  right: 0; /* Занимаем всю ширину */
}

.bottom-section-special button {
  width: 100%;
  padding: 10px 20px; /* Добавьте отступы для кнопки */
  background-color: #433d4c; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Уберите рамку */
  border-radius: 25px; /* Закруглите углы */
}

.reward-special {
  font-size: 13px;
  background-color: var(--black-colot-two);
  border-radius: 25px;
  border: 1px solid var(--container-color-two);
  padding: 5px;
}