:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
}

html, .bodyfriendspage {
  width: 100%; 
  min-height: 100vh; 
  margin: 0; 
  padding: 0;
  flex-direction: column;
}

.bodyfriendspage {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
}

.no-scroll {
  overflow: hidden;
}

.margin-div-fr {
  margin-top: 92px;
}

.Invite-button {
  text-align: center;
  font-family: var(--font-family);
  background: var(--green-color); 
  color: var(--background-color);
  padding: 10px;
  border-radius: 15px;
  width: 360px;
  height: 55px;
  border: none; 
}

.get-reward-button {
  text-align: center;
  font-family: var(--font-family);
  background: var(--background-color); 
  color: var(--text-color);
  padding: 10px;
  border-radius: 15px;
  width: 360px;
  height: 55px;
  border: 1px solid var(--green-color); 
}

.Container-button {
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */
  gap: 10px; /* Отступ между элементами */
  margin-top: 15px; /* Сохраняем отступ сверху, если это необходимо */
}
 