.container-game {
  margin-top: 20px;
  display: flex;
  align-items: center; /* Центрирование по вертикали */
  justify-content: space-between; /* Распределение пространства между элементами */
  background-color: #0f0f0f; /* Цвет фона */
  padding: 10px; /* Отступы вокруг контейнера */
  border-radius: 15px; /* Закругление углов (по желанию) */
  width: 340px;
}

.left-section-gif-game {
  display: flex;
  align-items: center; /* Центрирование содержимого по вертикали */
}

.mid-section-textabout-game {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: flex-start; /* Выравнивание по левому краю */
  margin-right: 100px; /* Отступ между левым и средним секциями */
}

.right-section-button-game {
  display: flex;
  align-items: center; /* Центрирование содержимого по вертикали */
}

.Game-button {
  background-color: var(--container-color);
  color: var(--container-color-two);
  border-radius: 25px;
}

.second-span-game {
  color: var(--container-color-two);
}

@media (max-height: 700px) {
  .mid-section-textabout-game{
    font-size: 13px; /* Меняем высоту кнопки на 20px */
  }
  .container-game{
    margin-top: 8px;
    height: 40px; /* Меняем высоту кнопки на 20px */
    width: 300px;
  }
  .Game-button{
    height: 35px;
    font-size: 13px;
  }
}

@media (min-height: 900px) and (max-height: 940px) {
  .mid-section-textabout-game{
    font-size: 19px; /* Меняем высоту кнопки на 20px */
    margin-right: 120px;
  }
  .container-game{
    margin-top: 20px;
    width: 380px;
    height: 65px;
  }
}