@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
}

.bodyhomepage {
  margin: 0; /* Отступ сверху 94px, остальные по умолчанию 0 */
  padding: 0;
  flex: 1;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../../Most Used/Image/222.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: calc(80px + 20px);
}


.no-scroll {
  overflow: hidden;
}

.points-count {
  font-family: var(--font-family);
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--green-color);
}

.ButtonGroup {
  margin-top: 15px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.FarmButton {
  text-align: center;
  font-family: var(--font-family);
  background: var(--green-color); 
  color: var(--background-color);
  padding: 10px;
  border-radius: 15px;
  width: 360px;
  height: 55px;
  font-size: 16px;
  border: none;
}
