.reward-section-fr {
  width: 320px;
  margin-top: 15px;
  display: flex; /* Используем Flexbox для расположения элементов */
  justify-content: space-between; /* Размещаем элементы по краям */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  background-color: #0f0f0f; /* Устанавливаем фоновый цвет */
  padding: 20px; /* Добавляем отступы */
  border-radius: 15px; /* Закругляем углы */
}

.left-section-reward-fr {
  gap: 15px;
  display: flex; /* Используем Flexbox для вертикального расположения элементов */
  flex-direction: column; /* Устанавливаем вертикальное направление */
}

.title-total-frends {
  font-size: 15px; /* Размер шрифта для заголовка */
  font-weight: bold; /* Жирный шрифт */
}

.span-reward-fr {
  padding: 10px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  background-color: var(--container-color);
  font-size: 24px; /* Размер шрифта для суммы вознаграждения */
  color: var(--green-color); /* Цвет текста для суммы вознаграждения */
}

.span-about-fr {
  color: var(--container-color-two);
  font-size: 14px;
}

@media (max-height: 800px) {
  .reward-section-fr  {
    height: 100px; /* Меняем высоту кнопки на 20px */
    width: 300px;
    margin-top: 20px;
  }
  .span-reward-fr {
    font-size: 16px;
  }
  .span-about-fr {
    font-size: 12px;
  }
  .title-total-frends {
    font-size: 13px;
  }
  .left-section-reward-fr {
    gap: 15px;
  }
}

@media (min-height: 900px) and (max-height: 940px) {
  .reward-section-fr  {
    width: 360px;
    margin-top: 20px;
  }
}

@media (max-height: 670px) {
  .reward-section-fr  {
    height: 76px; /* Меняем высоту кнопки на 20px */
    width: 300px;
    margin-top: 10px;
  }
  .span-reward-fr {
    font-size: 14px;
  }
  .span-about-fr {
    font-size: 10px;
  }
  .title-total-frends {
    font-size: 12px;
  }
  .left-section-reward-fr {
    gap: 10px;
  }
}