:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 999; /* Should be below the modal */
}

.modal {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  transition: bottom 0.3s ease;
  z-index: 1001;
}

.modal.visible {
  bottom: 0;
}

.modal-content {
  font-family: var(--font-family);
  background: linear-gradient(90deg, var(--background-color), var(--container-color));
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  position: relative; /* Allows positioning of the close button */
}

.close-button {
  position: absolute;
  bottom: 251px;
  right: -15px;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
}

.close-button1 {
  position: absolute;
  bottom: 364px;
  right: -15px;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column; /* Arrange buttons vertically */
  gap: 20px; /* Optional spacing between buttons */
  margin-top: 20px; /* Optional margin to separate from close button */
  margin-bottom: 10px;
}

.Modal-button {
  background-color: var(--green-color);
  color: var(--background-color);
  border-radius: 15px;
  height: 55px;
}

.divider {
  width: 100%; /* Width 100% to stretch across the container */
  height: 1px; /* Height of the line */
  background-color: var(--text-color); /* Color of the line */
  margin: 15px 0; /* Margin for the divider */
}

.about-modal {
  color: var(--text-color);
  font-size: 14px;
}

.text-about-modal {
  color: var(--container-color-two);
}

.Modal-button-other {
  border-radius: 15px;
  width: 100%;
  background: linear-gradient(45deg, var(--background-color), var(--container-color-two));
  height: 55px;
  color: var(--text-color);
  border: none;
}

.Modal-button1 {
  border-radius: 15px;
  width: 100%;
  background: var(--green-color);
  height: 55px;
  color: var(--background-color);
  border: none;
}

.Modal-button-other1 {
  border-radius: 15px;
  width: 100%;
  background: linear-gradient(45deg, var(--background-color), var(--container-color-two));
  height: 55px;
  color: var(--background-color);
  border: none;
  color: var(--text-color);
}