:root {
  --text-color: white;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
  --purple-color: #7685f7;
  --blue-color: #0098EA;
  --blue-another-color: #1d71d1;
}

.wallet {
    width: 360px;
    background: #0f0f0f;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
}

.left-section-wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.right-section-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.hight-section-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.points-div-bk-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    font-weight: bolder;
}

.middle-section-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
}

.bottom-section-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.points-div-bk-wallet {
    background-color: var(--container-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}